@tailwind base;
@tailwind components;
@tailwind utilities;

/* do the most basic overrides here for form */
/* does it make sense to mix px and rem? */
/* should I make these shareable components instead? */
/* where do global styles go? */
input {
  border: 1px black solid;
  padding: 2px 4px;
  border-radius: 3px;
}

select {
  border: 1px black solid;
  padding: 2px 4px;
  border-radius: 3px;
}

body {
  background-color: rgb(8 145 178);
  height: 100%;
}
